.dropzone {
  display: grid;
  place-items: center;
  height: 50px;
  border: 1px dashed blue;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 8px;
}
.dropzone p {
  margin: 0;
  padding: 0;
}
