.modal-content {
  display: flex;
  align-items: center;
}
.modal-header {
  padding: 20px 0px !important;
}

.formContainer {
  width: 85%;
  height: 80%;
}
.inputGroupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.smallInputGroupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.smallInputGroup {
  height: 2rem;
}
.inputGroup {
  height: 8rem;
}
.inputGroup textarea {
  resize: none;
}
