.alert-container {
  height: 100px;
  display: grid;
  max-width: 500px;
  place-items: center;

  width: 100%;
}
.alert {
  display: grid;

  width: 100%;
  grid-template-columns: 92% 8%;
  min-width: 270px;
}
.alertText {
  font-size: 1.5rem;
  font-weight: bold;
}
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 20px;
}
